@model Projet2_BDD.Models.ProposerServiceMateriel
@using Projet2_BDD.Models


<body>



    <h1>@Html.DisplayFor(model => model.Titre)</h1>
    <hr />
    <header>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Prenom)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Prenom)
            </dd>

            <dd>
                <img src="~/uploads/@Model.ImageName" width="250" height="250" asp-append-version="true" />
            </dd>
        </dl>
    </header>
    <article>
        @Html.DisplayFor(model => model.Decription)

    </article>

    <div>
        @Html.ActionLink("Acheter", "Payer", new { pub = @Model })
    </div>


    @if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Supprimer" asp-route-id="@Model">Supprimer</a>
        </div>
    }



    <footer>

        @Html.ActionLink("Retour à la liste", "Liste")
    </footer>

</body>






