@model Projet2_BDD.ViewModels.RechercheMatViewModel
@{ Layout = "~/Views/Shared/LayoutTest.cshtml";
}





<section>

    <!-- ? Mettre les liens sous forme de boutons alignés, pour faire comme une sous-entete de formulaire ? -->
    <div>
        <div>
            <h5>
                @*@Html.ActionLink(" Voir les publications de demandes de service ", "AffichageDemandeService", "Services") /
                @Html.ActionLink(" Voir la liste des objets à vendre ", "Liste", "Materiel") /
        @Html.ActionLink(" événements et formations à venir ", "Evenement", "Evenement") /
        @Html.ActionLink(" Voir les publications de locations ", "NomMéthode", "NomController")*@

                @Html.ActionLink(" Retour ", "Index", "Recherche")
            </h5>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        <div class="form-input">
            @Html.LabelFor(m => m.Recherche)
            @Html.TextBoxFor(m => m.Recherche, new { @class = "form-control"})
        </div>

        <div class="submit-button text-lg-right">
            <button type="submit" value="Save">Déposer</button>
            <button type="reset">Effacer</button>
        </div>
    }

    <table classe="table">
        <thead>
            <tr>

                <th>
                    Titre

                </th>

                <th>
                    Catégorie

                </th>

                <th>
                    Prix

                </th>

                <th>
                    Date de Publication

                </th>
                <th>
                    Description

                </th>



            </tr>
        </thead>


        <tbody>

            @foreach (var item in Model.Vue)
            {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Titre);

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Categorie);

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prix);

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DatePub);

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Decription);

                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="EnvoyerMsg" asp-route-utilisateurId="@item.UtilisateurId">Contacter</a>
                        @*  <a asp-action="Details" asp-route-id="@item.Categorie">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Titre">Delete</a> *@
                    </td>

                </tr>
            }

        </tbody>





    </table>
</section>
