@model Projet2_BDD.ViewModels.AllPost
@{ Layout = "~/Views/Shared/LayoutTest.cshtml";
}

<body>
    <div>
        @Html.ActionLink("Accueil Admin", "Index", "Admin") / @Html.ActionLink("Voir les Publications en Attente", "Publication", "Admin")
    </div>

    <table classe="table">
        <thead>
            <tr>

                <th>
                    Id Adhérent
                </th>

                <th>
                    Type Publication
                </th>

                <th>
                    Catégorie
                </th>
                <th>
                    Date de Création
                </th>

            </tr>
        </thead>


        <tbody>

            @{
                int dmdCount = 0;
                int matCount = 0;
                int eventCount = 0;

                for (int i = 0; i < (Model.Dmd.Count + Model.Event.Count + Model.Mat.Count); i++)
                {

                    int choix = 0; <!-- 1 : dmd    /   2 : Mat     3 : Event   4 : Location-->
                    DateTime dateMin = new DateTime(3000, 1, 1); <!-- Si erreur date null, declarer une date an 3000 ici, et remplacer les condition null en bas par cette date -->
                    DateTime compDate = new DateTime(3000, 1, 1);


                    try
                    {
                        if (dmdCount < Model.Dmd.Count)
                        {
                            dateMin = Model.Dmd[dmdCount].DatePub;
                            choix = 1;
                        }
                    }
                    catch (Exception)
                    {
                        throw;
                    }

                    try
                    {
                        if (matCount < Model.Mat.Count)
                        {
                            if (Model.Mat[matCount].DatePub < dateMin || dateMin == compDate)
                            {
                                dateMin = Model.Mat[matCount].DatePub;
                                choix = 2;
                            }

                        }
                    }
                    catch (Exception)
                    {
                        throw;
                    }

                    try
                    {
                        if (eventCount < Model.Event.Count)
                        {
                            if (Model.Event[eventCount].DatePub < dateMin || dateMin == compDate)
                            {
                                dateMin = Model.Event[eventCount].DatePub;
                                choix = 3;
                            }
                        }
                    }
                    catch (Exception)
                    {
                        throw;
                    }



                    if (choix == 1)
                    {
                        dmdCount++;

                        <tr>

                            <td>
                                @Model.Dmd[dmdCount - 1].UtilisateurId |
                            </td>

                            <td>
                                Demande Service |
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Dmd[dmdCount - 1].Categorie) |
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => Model.Dmd[dmdCount - 1].DatePub) |
                            </td>

                            <td>
                                @*  <a asp-action="Details" asp-route-id="@item.Destinataire.Id">Details</a>   Mettre des conditions ici aussi pour etre precis sur la route a suivre en fonction du type de publication *@
                                <a asp-action="DetailsDmd" asp-route-id="@Model.Dmd[dmdCount-1].Id">Détails</a>

                            </td>

                        </tr>
                        continue;
                    }
                    if (choix == 2)
                    {
                        matCount++;

                        <tr>

                            <td>
                                @Model.Mat[matCount - 1].UtilisateurId |
                            </td>

                            <td>
                                Vente Matériel |
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Mat[matCount - 1].Categorie) |
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => Model.Mat[matCount - 1].DatePub) |
                            </td>

                            <td>
                                @*  <a asp-action="Details" asp-route-id="@item.Destinataire.Id">Details</a>   Mettre des conditions ici aussi pour etre precis sur la route a suivre en fonction du type de publication *@
                                <a asp-action="DetailsMat" asp-route-id="@Model.Mat[matCount-1].Id">Détails</a>
                            </td>

                        </tr>
                        continue;
                    }

                    if (choix == 3)
                    {
                        eventCount++;

                        <tr>

                            <td>
                                @Model.Event[eventCount - 1].UtilisateurId |
                            </td>

                            <td>
                                Evenement |
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Event[eventCount - 1].DateEvent) |
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => Model.Event[eventCount - 1].DatePub) |
                            </td>

                            <td>
                                @*  <a asp-action="Details" asp-route-id="@item.Destinataire.Id">Details</a>   Mettre des conditions ici aussi pour etre precis sur la route a suivre en fonction du type de publication *@
                                <a asp-action="DetailsEvent" asp-route-id="@Model.Event[eventCount-1].Id">Détails</a>
                            </td>

                        </tr>
                        continue;

                    }


                }
            }

        </tbody>

    </table>
</body>